* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
     Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    min-height: 100vh;
    background:  rgb(194, 155, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
    position: absolute;
    z-index: 0;

}

.calculator {
    width: 300px;
    height: 500px;                 
    position: absolute;
    box-shadow: 4px 4px 30px black;
    margin-left: 900px;
    border-radius: 12px;
    background: black;
    overflow: hidden;
    

    
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1;
    color: white;
    background: black;
    text-align: right;
    pointer-events: none;
    
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid black;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 100px; /*5px*/
    cursor: pointer;
    font: 'sans';
}

.btn-yellow {
    background: rgb(255, 144, 47);
    color: white;
}

.btn-grey {
    background: rgb(53, 53, 53);
    color: white;
}

.btn-equal {
    background: rgb(245, 146, 62);
    color: white;
}

.btn-clear {
    background: rgb(168, 168, 168);
    color: black;
}


.btn-negate {
    background: rgb(168, 168, 168);
    color: black;
}

#zero {
    /* flex: 0 0 22%;
    margin: 5px 0;
    width: 120px;
    height: 52px;
    color: white;
    background: rgb(39, 39, 39);
    border: 1px solid black;
    padding: 25px 55px;
     */
    height: 52px;
    width: 120px;
    padding: 25px 55px;
}

#zero p {
    align-items: center;
    position: relative;
    bottom: 15px;
}

#zero:hover {
    color: black;
    border: 1px solid white;
    transform: translateY(-5px);
}

button:hover {
    color: black;
    border: 1px solid white;
}

.acNegate:hover {
    color: white;
}

.btn-mod {
    background: rgb(168, 168, 168);
    color: black;
}

